* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans";
}

:root {
    --text-color: purple;
    --light-color: white;
    --dark-color: rgb(36, 9, 69);
    --dark-input: rgb(46, 15, 85);
    --dark-text-color: rgb(130, 109, 151);
    --dark-title: white;
}


.container{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo {
    padding-bottom: 50px;
    font-size: 70px;
}

.tasks{
    padding: 30px;
}

ul {
    padding: 10px;
}

.tasks li{
    min-height: 55px;
    width: 600px;
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-size: 27px;
    display: flex;
    align-items: center;
    text-indent: 5px;
}

.gerar{
    height: 55px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.create{
    width: 535px;
    height: 55px;
    border-radius: 4px;
    font-size: 27px;
    text-indent: 7px;
}

.add{
    width: 55px;
    border-radius: 4px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(80, 79, 79);
}

li {
    list-style-type: none;
}

progress {
    height: 45px;
    width: 600px;
}

/* Dark Theme */

body.dark{
    background-color: var(--dark-color);
    color: var(--text-color);
}

input.dark{
    background-color: var(--dark-input);
    border: 1px solid var(--dark-input);
    color: var(--dark-text-color);
}

li.dark{
    background-color: rgb(65, 24, 116);
    color: var(--dark-title);
}

h1.dark{
    color: var(--dark-title);
}

button.dark{
    background-image: linear-gradient(rgb(46, 15, 85), rgb(99, 63, 142));
    color: var(--dark-input);
    border: none;
}

button:hover{
    background-image: linear-gradient(rgb(99, 63, 142), rgb(46, 15, 85));
    color: white;
    border: none;
    transition: 0.5s;
}


/* Light Theme */

body.light{
    background-color: var(--dark-color);
    color: var(--text-color);
}

input.light{
    background-color: var(--dark-input);
    border: 1px solid var(--dark-input);
    color: var(--dark-text-color);
}

li.light{
    background-color: rgb(65, 24, 116);
    color: var(--dark-title);
}

h1.light{
    color: var(--dark-title);
}

button.light{
    background-image: linear-gradient(rgb(46, 15, 85), rgb(99, 63, 142));
    color: var(--dark-input);
    border: none;
}

button:hover{
    background-image: linear-gradient(rgb(99, 63, 142), rgb(46, 15, 85));
    color: white;
    border: none;
}